body{
    font-family:Arial, Helvetica, sans-serif;
}

.title{
    display: flex;
    justify-content: center;
    background-color: #BFD8BF;
}

.register, .login{
    display: flex;
    flex-direction: column;
    background-color: #D8BFD8;
}

.inputBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

button{
    color: white;
    border-radius: 5px;
    padding: 0.6rem ;
    margin: 0.5rem 0.1rem;
    text-align: center;
    font-size: 1rem;
    width: 5rem;
    background-color: #1e90ff;
    border:#1e90ff
}